@import url("../resets.css");
@import url("../input.css");
@import url("../button.css");

:host {
	&::part(editor) {
		margin-inline: var(--margin-lg);
		display: flex;
		align-items: stretch;
		gap: 1rem;
	}

	&::part(textfield) {
		border: 1px solid var(--border-color);
		outline-color: var(--accent-color);
		padding: 0.5rem 1rem;
		flex: 1;

		&::placeholder {
			color: var(--border-color);
		}
	}

	&::part(button) {
		background-color: var(--color-primary-dark);
		color: white;

		&:disabled {
		  background-color: var(--border-color);
		}

		&:not(:disabled):hover {
			background-color: var(--color-primary-main);
		}
	}
}

