input {
	--size: 24px;
	border-radius: var(--border-radius-xs);
	width: var(--size);
	height: var(--size);
	font-size: 1.5rem;
}

p {
	flex: 1;
}

button {
	background-color: var(--color-danger-dark);
	color: white;

  &:hover {
  	background-color: var(--color-danger-main);
  }
}
