@import url("../resets.css");
@import url("../input.css");
@import url("../button.css");

:host {
	width: 100%;
	display: flex;
	gap: 1rem;

	&::part(checkbox) {
		--size: 24px;
		width: var(--size);
		height: var(--size);
	}

	&::part(content) {
		flex: 1;
	}

	&::part(button) {
		background-color: var(--color-danger-dark);
		color: white;

	  &:hover {
	  	background-color: var(--color-danger-main);
	  }
	}
}

