@import url("../resets.css");

:host {
	--height-sm: 24px;
	--height-md: 32px;

	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;

  & > * {
  	border-radius: var(--border-radius-xs);
  	background-color: var(--border-color);
  }

	&::part(checkbox) {
  	width: var(--height-sm);
  	height: var(--height-sm);
  }

  &::part(content) {
  	flex: 1;
  	height: var(--height-sm);
  }

  &::part(button) {
  	width: 85px;
  	height: var(--height-md);
  }
}
