:root {
	--border-color: #aaa;
	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 16px;
	--spacing-lg: 24px;
	--spacing-xl: 32px;
	--border-radius-xs: var(--spacing-xs);
	--border-radius-sm: var(--spacing-sm);
	--border-radius-md: var(--spacing-md);
	--border-radius-lg: var(--spacing-lg);
	--border-radius-xl: var(--spacing-xl);
	--margin-xs: var(--spacing-xs);
	--margin-sm: var(--spacing-sm);
	--margin-md: var(--spacing-md);
	--margin-lg: var(--spacing-lg);
	--margin-xl: var(--spacing-xl);
	--padding-xs: var(--spacing-xs);
	--padding-sm: var(--spacing-sm);
	--padding-md: var(--spacing-md);
	--padding-lg: var(--spacing-lg);
	--padding-xl: var(--spacing-xl);
	--background-color: #666;
	--color: #ddd;
	--color-primary-main: #00bfff;
	--color-primary-dark: #009ddd;
	--color-danger-main: #f44;
	--color-danger-dark: #c00;
	--color-success-main: #00c851;
	--color-success-dark: #007e33;
	--color-info-main: #33b5e5;
	--color-info-dark: #09c;
	--color-warning-main: #fb3;
	--color-warning-dark: #f80;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 100%;
	height: 100%;
	background-color: #444;
}
